{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            {{ form(form, {'attr': {'class': 'form-horizontal'}}) }}
        </div>
    </div>
{% endblock %}